.container {
  margin: 0 14px;
  color: #fff;
}

.center {
  text-align: center;
  margin-bottom: 15px;
}

.content {
  background-color: #0f0f0f;
  margin: 24px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  border-radius: 14px;
  gap: 15px;
}
.logo {
  width: 58px;
  height: 58px;
  transition: all 1s;
}

.logo:hover {
  transform: rotate(360deg);
}

.header h1 {
  font-size: 32px;
  line-height: 1.2;
}

.details strong {
  display: block;
  overflow-wrap: anywhere;
  font-size: 22px;
}

.profit {
  color: #12f98a;
}

.loss {
  color: #f91257;
}
